<%- include('parts/header') %>
<%- include('parts/navbar') %>

<div class="container text-center" >
            <p class="alert alert-danger mt-3"> 
                Something went wroung 
             </p>
</div>
<%- include('parts/footer') %>
